body{
  background-color: rgba( 255,255,255,0.5);
  background-image: url(../images/math2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;

  font-family: 'questaregular', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'minimobold', sans-serif;
}

header{
  margin: 2em auto;
}

header p{
  font-size: 2em;
}

header div{
  display: inline-block;
  padding: 1em;
  margin-left: 1em;
}

#logo{
  color: white;
  padding: 0 5px;
  margin: 0;
}

#logo span{
  font-size: 1.8em;
  text-shadow: white 0px 0px 20px;
}

#logo img{
  position: relative;
  top: -15px;
  height: 2em;
}

#logout{
  float: right;
  padding-right: 0.8em;
  margin: 2em 1.5em;
}

#qrcode{
  margin: 3em auto 1em auto;
}

table{
  margin: 2em;
  padding: 1em;
  width: 95% !important;
}

aside{
  padding-top: 5px;
}

aside a{
  margin-bottom: 1em;
  float: left;
  clear: both;
}

article{
  min-height: 10em;
}

article div img.blogImage{
  width: 12em;
  margin: 1em;
}

footer{
  color: white;
  margin: 2em;
}

#loginButton{
  position: relative;
  top: -2px;
}

.mainWorkWindow,.blog{
  min-width: 32em;
  padding: 1.5em;
  margin: 0.25em;
}

.mainWorkWindow{
  background-color: rgba(255,255,255,0.65);
}

.blog{
  padding-top: 6em;
  background-color: white;
  box-shadow: 0px 0px 25px white;
}

.login{
  color: white;
  background-color: transparent;
}

.login a,.login a:hover,.login a:visited{
  color: white;
  text-decoration: underline;
}

.login input{
  color: black;
  margin-bottom: 0.6em;
}

.description{
  font-family: 'minimobold', sans-serif;
  font-size: 1.2em;
}

.ad{
  min-height: 10em;
  background-color: #192931;
}

#HomeContainer li{
  padding-right: 6em;
}

.spaceUpTop{
  margin-top: 1em;
}

p{
  letter-spacing: initial;
  text-align: justify;
  text-justify: inter-word;
  text-overflow: ellipsis;
  word-break: keep-all;
}

a{
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

a.user-link{
  font-size: 1.2em;
  text-decoration: none;
}

a:visited{
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

aside a{
  color: white;
  text-decoration: none;
}

aside a:hover{
  color: white;
}

aside a:visited{
  color: white;
}

ul{
  list-style: none;
  width: auto;
}

input[type="text"],input[type="password"],  textarea{
  padding: 0.5em;
}

input[type="radio"], input[type="checkbox"]{
  margin: 0 0.3em;
}

button, input[type="button"], input[type="submit"]{
  padding: 0.73em;
}

input[type="text"]:focus, textarea:focus, button:focus{
  box-shadow: 0px 0px 3px black;
}

button:focus{
  box-shadow: 0px 0px 5px black;
}

.features ul{
  list-style-type: square;
}

.row{
  padding: 1em;
}

@media screen and (max-width: 921px){
  h1{
    font-size: 1.5em;
  }
  #logo img{
    top: -10px;
  }

  .mainWorkWindow, .blog{
    min-width: inherit;
  }
  
  .login input, .login button{
    width: 100%;
  }

  th{
    display: none;
  }

  td{
    display: block;
  }

  footer{
    margin-left: 2em;
  }
}