body{
    margin: 0;
    padding: 0;
}

.explanation{
    font-size: 3em;
    font-family: serif;
    margin: 3em auto;
    text-align: center;
}

#stage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
}